html,
body {
  padding: 0;
  margin: 0;
  font-family:Roboto,sans-serif;
  font-size: 16px;
  // background: linear-gradient(90deg, #F1F1F1 15%, #F2F2F2 32%,#3e8ecc 40%, #00508C 50%, #000000 90%);
  // background: linear-gradient(90deg, #000000 5%, #4a4a4a 10%,#7f7f7f 15%,#cacaca 40%,#cacaca 60%,#7f7f7f 85%, #4a4a4a 90%, #000000 95%);
  // background-color: rgb(169, 169, 169);
  background-size: 100% 100%;
  height: 100vh;

  // overflow-y: hidden;
  scroll-behavior:smooth;
  scroll-snap-type: y mandatory;
  &::-webkit-scrollbar{
    width: 0.0rem;
  }
}

// @keyframes gradient {
// 	0% {
// 		background-position:50% 100%;
// 	}
// 	50% {
// 		background-position: 100% 100%;
// 	}
// 	100% {
// 		background-position: 50% 100%;
// 	}
// }


// a {
//   color: inherit;
//   text-decoration: none;
// }

// * {
//   box-sizing: border-box;
// }
