
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500&display=swap');
.main_container{
  display: flex;
  justify-content: center;
  width: 100vw;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  overflow-y:scroll;
  scroll-snap-align:center;
  &::-webkit-scrollbar{
    width: 0.4rem;
  }

  &::-webkit-scrollbar-thumb {
    background: #BDFF00; 
  }
  
}

.container {
  display: flex;
  flex-direction: column;
  // transition: background-color 2s ease-out;
  width: 60vw;
  
}


.box{
  width: 100%;
  height: 100%;
  padding-top: 4rem;
  animation: fadein 1s ease-in;

  @keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
}
.box_news{
  width: 100%;
  height: 100%;
  padding-top: 4rem;
  animation: fadein 1s ease-in;

  @keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
}

.boxbackground{
  @extend .box;
  background-color: rgba($color: #000, $alpha: 1);
}

.main {
  display: flex;
  padding-top: 1rem;
  padding-right: 1rem;
  // padding: 4rem 0;
  // flex: 1;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
}
.youtube{
  border-radius: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  width: 100%;
  height: 15rem;
}

.element{
  width: 50%;
}
.element_news{
  display: flex;
  flex-direction: row;
  width: 50%;
  .icon{
    width: 10px;
  }
   button{
    border-radius: 1rem;
    background-color: #fff;
    border: 0;

    &:hover{
      background-color: #f3f3f3;
    }
   }
}
.element_news_button_left,
.element_news_button_right {
  display: flex;
  justify-content: space-between;
  height: 80vh;
}

.elementWithNews{
  width: 50%;
  display: flex;
  
}
.about{
  padding-top: 3rem;
  display: flex;
}
.about_1{
  // background-color: #F1F1F1;
  height: 100%;
  width:33%;
  display: flex;
  flex-direction: column;
  p{
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.about_2{
  color: #000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // background-color: #000;
  width:66%;
  border-left: 1px dashed #000;
  justify-content: space-around;
  p{
    width:25vw;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.career{
  padding-top: 3rem;
  display: flex;
}
.career_1{
  // background-color: #F1F1F1;
  height: 100%;
  width:33%;
  display: flex;
  flex-direction: column;
  p{
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.career_2{
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // background-color: #000;
  width:66%;
  height: 90vh;
  border-left: 1px dashed #000;
  justify-content: flex-end;
  position: relative;
  
  p{
    width:25vw;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.career_3{
  background-image: url('/photos/conf.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  mix-blend-mode: overlay;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}
.career_4{
  margin-top: 50vh;
  height: 40vh;
  width: 100%;
  background-color: #000;
}



.services{
  padding-top:3rem;
  display: flex;
  height: 100%;

}
.services_1{
  height: 100%;
  width:33%;
}
.services_2{
  background-color: #BDFF00;
  height: 100%;
  width:33%;
  border-left: 1px dashed #000;
  border-right: 1px dashed #000;
}
.services_3{
  // background-color: #000;
  height: 100%;
  width:33%;
 

}
.set{
  display: flex;
  flex-direction: column;
  top: 3rem;
  transform: translateX(-210px);
  position: absolute;
}

.header{
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  color:#7c7c7c;
  margin-top: auto;
  margin-bottom: -1rem;
}
.subheader{
  font-weight: 700;
  font-size: 0.8rem;
  text-align: center;
  color:#7c7c7c;
}

.title{
  background-color: #BDFF00;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  width: 10rem;
  padding: 0.5rem;
  position:relative;
  display: flex;
  left: 50%;
  top: -20px;
  justify-items: center;
}

.news{
  padding-right: 0.4rem;
  overflow: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  height: 80vh;
  &::-webkit-scrollbar{
    width: 0.2rem;
    height: 0.2rem;
  }

  &::-webkit-scrollbar-thumb {
    background: #BDFF00;
    border-radius: 1rem;
  }
  &::-webkit-scrollbar-track{
    background-color: #000;
    border-radius: 1rem;
  }
}

.group{
  display: flex;
  padding-bottom: 0.5rem;
}
.typo_group{
  margin-top: auto;
  font-size: 3.6rem;
  padding-left: 0.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #004377;
}
.image_group{
  border-radius:1rem;
}
@media screen and (min-width:200px) and (max-width:600px) {
  .container{
    display: flex;
    width: 100vw;
  }
  .element_news_button_right{
    display: flex;
    justify-content: space-between;
    height: 40vh;
  }
  .element_news_button_left {
    display: flex;
    justify-content: space-between;
    height: 40vh;

  }
  .group{
    width: 50vw;
  }
  .element_news{
    width: 100vw;
    height: 40vh;
    overflow: hidden;
  }
  .typo_group{
    font-size: 1.5rem;
  }
  .subheader{
    display: none;
  }
  .header{
    display: none;
  }
  .main{
    display: flex;
    flex-direction: column;
    padding-top: 0rem;
  }
  .element{
    width: 100%;
  }
  .about{
    padding-top: 3rem;
    flex-direction: column;
  }
  .about_1{
    width: 100vw;
  }
  .about_2{
    width: 100vw;
    border-left: none;
    flex-direction: column;
    p{
      width:80vw;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 1.5rem;
    }
  }
  .services{
    flex-direction: column;

  }
  .services_1,
  .services_2,
  .services_3{
    width: 88vw;
    padding: 0.5rem;
  }
  .services_3{
    padding-bottom: 4.5rem;
  }
  .ytContainer{
    padding-bottom: 4rem;
    padding-top: 2rem;
    height: 50vh;
    overflow: hidden;
  }
  .youtube{
    width: 100%;
    height: 8rem;
  }
  .news{
    width: 90vw;
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    height: 40vh;
    &::-webkit-scrollbar{
      width: 0.3rem;
      height: 0.4rem;
    }
  
    &::-webkit-scrollbar-thumb {
      background: #BDFF00;
      border-radius: 1rem;
    }
    &::-webkit-scrollbar-track{
      background-color: rgb(216, 216, 216);
      border-radius: 1rem;
    }
  }
  .group{
    display: flex;
    padding-bottom: 0.3rem;
  }
  .box{
    display: flex;
    flex-direction: column;
    padding-top: 3.5rem;
    padding-left: 0.3rem;
    width: 98vw;
  }
}

@media screen and (min-width:360px) and (max-width:600px) and (max-height: 750px) {
}

// .footer {
//   display: flex;
//   flex: 1;
//   padding: 2rem 0;
//   border-top: 1px solid #eaeaea;
//   justify-content: center;
//   align-items: center;
// }

// .footer a {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-grow: 1;
// }

// .title a {
//   color: #0070f3;
//   text-decoration: none;
// }

// .title a:hover,
// .title a:focus,
// .title a:active {
//   text-decoration: underline;
// }

// .title {
//   margin: 0;
//   line-height: 1.15;
//   font-size: 4rem;
// }

// .title,
// .description {
//   text-align: center;
// }

// .description {
//   margin: 4rem 0;
//   line-height: 1.5;
//   font-size: 1.5rem;
// }

// .code {
//   background: #fafafa;
//   border-radius: 5px;
//   padding: 0.75rem;
//   font-size: 1.1rem;
//   font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
//     Bitstream Vera Sans Mono, Courier New, monospace;
// }

// .grid {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-wrap: wrap;
//   max-width: 800px;
// }

// .card {
//   margin: 1rem;
//   padding: 1.5rem;
//   text-align: left;
//   color: inherit;
//   text-decoration: none;
//   border: 1px solid #eaeaea;
//   border-radius: 10px;
//   transition: color 0.15s ease, border-color 0.15s ease;
//   max-width: 300px;
// }

// .card:hover,
// .card:focus,
// .card:active {
//   color: #0070f3;
//   border-color: #0070f3;
// }

// .card h2 {
//   margin: 0 0 1rem 0;
//   font-size: 1.5rem;
// }

// .card p {
//   margin: 0;
//   font-size: 1.25rem;
//   line-height: 1.5;
// }

// .logo {
//   height: 1em;
//   margin-left: 0.5rem;
// }

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
