.container{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding-top: 4rem;
}
.image{
    border-radius: 0.5rem;
}
.companyName{
    display: flex;
    color:#004377;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    span{
        align-self: flex-end;
    }

}
.smallContainer{
    display: flex;
    color:#004377;
    column-gap: 0.5rem;

    // &:hover::before{
    //     content: 'asdasd';
    // }

}
.group{
    display: flex;
    flex-wrap: wrap;
    width: 180px;
    gap:0.3rem;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 0.2s ease-in-out;
    &:hover{
        cursor: pointer;
        transform:translateX(10px);
    }
}

