.main{
    padding-left: 1rem;
    padding-top: 4rem;
    padding-bottom: 5rem;
    height: 70vh;
    overflow: hidden;
    overflow-x:scroll;
    scroll-snap-align:center;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    &::-webkit-scrollbar{
      height: 0.4rem;
      background-color: #000;
      border-radius: 0.3rem;
    }
  
    &::-webkit-scrollbar-thumb {
      background: #BDFF00; 
    }
}
.main3{
    display: flex;
    padding-top: 2rem;
    align-items: center;
}
.icon{
    width: 10px;
}
.button{
    padding: 0.2rem;
    background-color: #fff;
    border: 0;
    height: 80vh;
    border-radius: 0.5rem;
    width: 1.2rem;
    &:hover{
        background-color: #f3f3f3;
    }
}
.button_border_left{
    border-left:1px dashed #d7d7d7
}
.button_border_right{
    border-right:1px dashed #d7d7d7
}
.picture{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-bottom: 1rem;
}
.profile{
    width: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.hr{
    width: 60%;
    background-color:white;
    border: 0;
    height: 0px;
    border-top: dashed 1px #BDFF00;
}
.container{
    height: 70vh;
    width: 100vw;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
    
}
@media screen and (min-width:200px) and (max-width:600px) {
    .main3{
        display: flex;
        padding-top: 2rem;
        align-items: center;
    }
    .main{
        width: 1fr;
        // display: flex;
        // flex-direction: row;
        // // grid-template-columns: 1fr;
        // // grid-template-rows: 1fr;
        justify-content: center;
        gap: 1rem;
        padding-top: 3rem;
        flex-wrap: nowrap;
        padding-bottom: 5rem;
        padding-top: 3rem;
        overflow: hidden;
        overflow-x:scroll;
        scroll-snap-align:center;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
    }
    .container{
        // height: 70vh;
        width: auto;
        background-color: #fff;
        // display: flex;
        // flex-wrap: nowrap;
        // flex-direction: row;
        gap: 2rem;
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: 1fr 1fr 1fr;
        
    }
    .picture{
        width: 5rem;
        height: 5rem;
        margin-bottom: 0.5rem;
    }
    .profile{
        width: 33vw;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 0.8rem;
    }
    .hr{
        width: 60%;
        background-color:white;
        border: 0;
        height: 0px;
        border-top: dashed 1px #BDFF00;
    }
}