.main{
    justify-content: flex-start;
    flex-wrap: wrap;
    display: flex;
    gap: 2rem;
    padding-top: 4rem;
    flex-wrap: wrap;
    padding-bottom: 5rem;
}
.picture{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-bottom: 1rem;
}
.profile{
    width: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.hr{
    width: 60%;
    background-color:white;
    border: 0;
    height: 0px;
    border-top: dashed 1px #BDFF00;
}
@media screen and (min-width:200px) and (max-width:600px) {
    .main{
        justify-content: center;
        gap: 1rem;
        padding-top: 4rem;
        flex-wrap: wrap;
        padding-bottom: 5rem;
        padding-top: 5rem;
    }
    .picture{
        width: 5rem;
        height: 5rem;
        margin-bottom: 0.5rem;
    }
    .profile{
        width: 6rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 0.8rem;
    }
    .hr{
        width: 60%;
        background-color:white;
        border: 0;
        height: 0px;
        border-top: dashed 1px #BDFF00;
    }
}