.list{
display: flex;
margin-bottom: 5.5rem;
column-gap: 1.5rem;
row-gap: 1rem;
flex-wrap: wrap;
flex-flow: row wrap;

}
// .list>:first-child{
//     flex: none;
// }
.list>*{
    flex: 1 1 48%;
}
.image{
    border-radius: 1rem;
}
.description{
    font-style: normal;
    font-weight:normal;
    font-size: 0.9rem;
    line-height: 1.4rem;
    color: white;
    
}
.descriptionTitle{

    font-size: 1.2rem;
    line-height: 1.4rem;
    color: #BDFF00;
    font-weight: bold;
    padding-bottom: 1rem;
    
}

.dataAndTitle{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}
.data{
    font-weight:700;
    padding-top: 1rem;
    display: flex;
    column-gap: 0.5rem;
    color:#fff;
    font-size:1rem;
    vertical-align: middle;

}
.button{
    background-color: #BDFF00;
    border-radius: 1rem;
    padding: 0.3rem;
    border: none;

    &:hover{
        background-color: #fff;
    }
}