.image{
    border-radius: 1rem;
}
.description{
    font-style: normal;
    font-weight:normal;
    font-size: 0.9rem;
    line-height: 1.4rem;
    color: white;
    
}
.descriptionTitle{

    font-size: 1.2rem;
    line-height: 1.4rem;
    color: #BDFF00;
    font-weight: bold;
    padding-bottom: 1rem;
    
}

.dataAndTitle{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}
.data{
    padding-top: 1rem;
    display: flex;
    column-gap: 0.5rem;
    color:#BDFF00;
    font-size:1rem;

}