.list{
    display: flex;
    flex-direction: row;
    gap:1rem;
    margin-bottom: 5.5rem;
    flex-wrap: nowrap;
    width: 100%;

}
.list>:first-child{
    flex: 1 1 100%;
    // border-radius: 1rem;
    // background-color: rgb(218, 218, 218,0.5);
}
.list>*{
    flex: 1 1 100%;
}
.image{
    border-radius: 1rem;
}
.description{
    
    font-style: normal;
    font-weight:normal;
    font-size: 1rem;
    line-height: 1.4rem;
    color: #000;
    
}
.descriptionTitle{

    font-size: 1.2rem;
    line-height: 1.4rem;
    color: #BDFF00;
    font-weight: bold;
    padding-bottom: 1rem;
    
}

.dataAndTitle{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}
.data{
    font-weight:700;
    padding-top: 1rem;
    display: flex;
    column-gap: 0.5rem;
    color:#000;
    font-size:1rem;
    vertical-align: middle;

}
.button{
    background-color: #BDFF00;
    border-radius: 1rem;
    padding: 0.3rem;
    border: none;

    &:hover{
        background-color: #fff;
    }
}

.newscontainer{
    scroll-snap-align: start;
  
  }
  .icon{
    height: 1.2rem;
    width: 1.2rem;;
  }

  @media screen and (min-width:200px) and (max-width:600px) {

    .list{
        flex-wrap: nowrap;
    }
    // .image{
    //     display: none;
    //     position: absolute;
    //     z-index: -1;
        
    // }
    .image{
       border-radius: 0;
    }
    .image_container {
        overflow: hidden;
        max-height: 28vh;
        max-width: 86vw;
        border-radius: 1rem;
    }
    .newscontainer{
        height: 60vh;
    }
    .icon{
        height: 0.9rem;
        width: 0.9rem;;
      }
    .dataAndTitle{
        // background-color: rgba($color: #000000, $alpha: 0.5);
        width: 100vw;
        // height: 100vh;
    }
    .description{
        // background-color: rgba($color: #000000, $alpha: 0.5);
        padding-right: 10vw;
        font-size: 0.8rem;
        line-height: 1.1rem;
    }
    .data{
        padding-top: 0.4rem;
        // padding: 0rem;
        font-size: 0.8rem;
    }
    .descriptionTitle{
        font-size: 1rem;
        padding-bottom: 0;
    }
    .newscontainer{
        position: relative;
    }

  }