.main3{
    display: flex;
    padding-top: 3rem;
    align-items: center;
}
.main{
    display: flex;
    flex-direction: column;
    gap:1rem;
    width:15vw;
    height: 30vh;
    background-color: none;
    padding: 1rem;
    border-radius: 1rem;
    
}

.button{
    padding: 0.2rem;
    background-color: #fff;
    border: 0;
    height: 80vh;
    border-radius: 0.5rem;
    width: 20px;
    &:hover{
        background-color: #f3f3f3;
    }
}
    .button_border_left{
        border-left:1px dashed #d7d7d7
    }
    .button_border_right{
        border-right:1px dashed #d7d7d7
    }
.icon{
    width: 10px;
}

.list{
    justify-content: flex-start;
    gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 5rem;
    height: 75vh;
    overflow: hidden;
    overflow-x:scroll;
    scroll-snap-align:center;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar{
      height: 0.4rem;
      background-color: #000;
      border-radius: 0.3rem;
    }
  
    &::-webkit-scrollbar-thumb {
      background: #BDFF00; 
    }
}
.container{
    width: auto;
    background-color: #fff;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 20vh 20vh;
    gap: 2rem;
    row-gap: 13rem;
    
}
.headline{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}
.image{
    border-radius: 1rem;
}
.detailed{
    padding-top: 3rem;
}
.button_more{
    border-radius: 0.5rem;;
    width: 6rem;
    height: 2rem;
    background-color:#BDFF00;
    padding: 0.5rem;
    border: none;
    &:hover{
        background-color:#000;
        color: #BDFF00;
    }
}
.title{
    font-weight: bold;
}

@media screen and (min-width:200px) and (max-width:600px) {
    .list{
        display: grid;
        padding-top: 1rem;
        grid-template-columns: 1fr;
    }
    .main{
        width: 90vw;
        padding: 0.3rem;
    }
    .title{
        height: 2rem;
    }
    .container{
        display: flex;
    }
}