.outline{
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
    background-color: rgba($color: #fff, $alpha: 0.0);
    border: 2px solid #fff;
    border-radius: 0.3rem;
    color:#BDFF00;

    &:hover{
        background-color: #BDFF00;
        color: #fff;
    }

    &:active{
        background-color: #000;
    }

}

.solid{
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
    background-color: rgba($color: #fff, $alpha: 1.0);
    border: 2px solid #fff;
    border-radius: 0.3rem;
    color:#000;

    &:hover{
        background-color: #BDFF00;
        color: #fff;
    }
    &:active{
        background-color: #000;
    }

}