.container{
    display: flex;
    justify-content:flex-end;
    align-content: flex-start;
    gap: 1.5rem;
    height: 2rem;
    width: 100vw;
    padding-top: 1rem;
    position: fixed;
    top: 0%;
    z-index: 1;
    background-color: rgba($color: #000000, $alpha: 1.0);
    border-bottom: solid #BDFF00 1px;
    
    
}
.sub_container{
    padding-right: 1rem;
    display: flex;
    gap: 1.5rem;
}
.element{
    cursor:pointer;
    font-size: 1.0rem;
    font-weight:500;
    color: white;
    padding-right: 0.5rem;
    

    &:hover{
        color: #BDFF00;
        border-bottom: 3px solid #BDFF00;
    }
    &:link{
        text-decoration: none;
    }

}

.set{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-bottom: 0.3rem;
    padding-left: 1rem;
    padding-top: 0.2rem;
    height: 2rem;
    top: 2rem;
    left: 0%;
}
  
.header{
font-size: 6rem;
font-style: normal;
font-weight: 700;
color:#000;

}
.subheader{
font-weight: 700;
font-size: 2rem;
color:#000;
}